# Ignore everything in these folders
/Data/*
/Output/*

# But keep the folders themselves
!/Data/.gitkeep
!/Output/.gitkeep

# Ignore macOS metadata
.DS_Store
Scripts/__pycache__
.Rproj.user

# Ignore R files
.Rhistory
R_output/*
descriptives.txt
RAW_freq_output.txt
scatter_plots.pdf
histograms.pdf
categorical_freq_output.txt

FINAL_DATABASE_USED_IN_R_GMM.csv

# New clean repo
DATA/*
scripts/__pycache__

ARCHIVED/*