# Ignore everything in these folders
/Data/*
/Output/*

# But keep the folders themselves
!/Data/.gitkeep
!/Output/.gitkeep

# Ignore macOS metadata
.DS_Store
Scripts/__pycache__
.Rproj.user

# Ignore R files
/Users/emmanuelle.coutu-nadeau/Code/NED LAB/GENiAL/descriptives.txt
/Users/emmanuelle.coutu-nadeau/Code/NED LAB/GENiAL/RAW_freq_output.txt
/Users/emmanuelle.coutu-nadeau/Code/NED LAB/GENiAL/scatter_plots.pdf
/Users/emmanuelle.coutu-nadeau/Code/NED LAB/GENiAL/histograms.pdf
